<%- include("./partials/header") %>
  <h1>Thank You, <%= name %>!</h1>
  <p>Your message was: <%= message%>
  <div>Your favourte Color is: <%= favouriteColor %></div>
  <div>Your favourte Day is: <%= favouriteDay %></div>
  <%= hello %>
<%- include("./partials/footer") %>